@use '../foundation/_variables' as v;
@use '../foundation/_mixin' as m;

// 他のセクションとは異なり、ここでは英語ラベルがddのためCSS pseudoではなくHTMLに直接記載。

.info {
    padding-block: 6rem 6rem;
    padding-inline: max(1rem, calc(((100vw - v.$wrapper) / 2) + 1rem));
    background: linear-gradient(to bottom, v.$backgroundcolor-light, v.$backgroundcolor-tint);
    color: v.$text-color-dark;

    @media (min-width: v.$breakpoint-pc) {padding-bottom: 12rem;}

    &__heading {
        margin-bottom: 4rem;
        font-family: v.$garamond, serif;
        font-size: v.$font-size-heading;
        line-height: 1em;
        letter-spacing: -0.02em;
        text-shadow: 0 -1px 0 v.a(v.$shadow-highlight-light, v.$opacity-muted);
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;

        @media (min-width: v.$breakpoint-pc) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 2rem 4rem;
            align-items: start;
        }
    }

    &__map {
        overflow: hidden;
        padding: 1rem;
        background-color: v.$backgroundcolor-tint;

        @media (min-width: v.$breakpoint-pc) {
            grid-column: 1;
            grid-row: 1;
            margin-top: 2rem; // detailsの上端から意図的にズラす
        }

        iframe {
            display: block;
            width: 100%;
            aspect-ratio: 4 / 3;
            border: 0;
        }
    }

    &__map-link {
        display: inline-block;
        margin-top: 1rem;
        padding-bottom: 0.125em;
        border-bottom: 1px solid v.a(v.$text-color-dark, v.$opacity-half);
        border-radius: 0px;
        outline-color: v.$backgroundcolor-dark;
        font-family: v.$marcellus, sans-serif;
        font-size: 0.875rem;
        letter-spacing: 0.04em;
        text-align: center;
        text-transform: capitalize;
    }

    &__location {
        @media (min-width: v.$breakpoint-pc) {
            grid-column: 1;
            grid-row: 2;
        }
    }

    &__address {
        font-style: normal;
        font-size: 0.9375rem;
        line-height: 1.8em;
        letter-spacing: 0.04em;
    }

    &__address-detail {
        padding-bottom: 0.125em;
        border-bottom: 1px solid v.a(v.$text-color-dark, v.$opacity-muted);
    }

    &__access {
        margin-top: 1.5rem;
        font-size: 0.75rem;
        line-height: 2em;
        color: v.a(v.$text-color-dark, v.$opacity-subtle);
    }

    &__details {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        line-height: 1;
        letter-spacing: 0.01em;

        @media (min-width: v.$breakpoint-pc) {
            grid-column: 2;
            grid-row: 1 / 3;
        }

        small {
            font-size: 0.75rem;
            line-height: 1;
            text-transform: capitalize;
            color: v.a(v.$text-color-dark, v.$opacity-subtle);
        }
    }
}

.info__details  [class^="detail-"][class$="__eyebrow"] {
    font-family: v.$marcellus, sans-serif;
    font-size: 0.6875rem; // 11/16
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: lowercase;
    color: v.a(v.$text-color-dark, v.$opacity-half);
}

div[class^="detail-"] {
    position: relative;
    padding-block: 1.5rem;
    text-align: right;

    &:not(:last-child):after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        border-bottom: 1px solid v.a(v.$text-color-dark, v.$opacity-muted);
    }
}

.detail- {
    &name {
        &__eyebrow {margin-bottom: 0.375em;}
        &__body {
            font-size: 1.25em;
            font-family: v.$marcellus, sans-serif;
            letter-spacing: 0.06em;
        }
    }
    &hours {
        font-family: v.$garamond, serif;
        font-feature-settings: "tnum";
        line-height: 1;

        &__eyebrow {margin-bottom: 0;}
        &__body {
            font-size: 1.125em;         // Garamondなので少し大きめに
            letter-spacing: -0.02em;
        }
        &__note {
            font-family: v.$marcellus, serif;
            font-feature-settings: normal;
            margin-top: 0.125rem;
            margin-right: -0.25ex;      // )の分の視差効果調整
            font-size: 0.5em;
            text-transform: capitalize;
            color: v.a(v.$text-color-dark, v.$opacity-subtle);
        }
    }

    &days {
        &__eyebrow {margin-bottom: 0.25em;}
        &__body {
            font-size: 0.875em;         // しっぽり明朝なので少し小さめに
            display: flex;
            justify-content: flex-end;
            gap: 0.5em;
            .closed { opacity: v.$opacity-muted; text-decoration: line-through; }
        }
    }

    &seats {
        &__eyebrow {margin-bottom: 0.25em;}
        &__body {font-size: 0.875em;}   // しっぽり明朝なので少し小さめに
        &__breakdown {
            margin-top: 0.5rem;
            font-size: 0.75rem;
            color: v.a(v.$text-color-dark, v.$opacity-subtle);

            div {
                display: flex;
                justify-content: flex-end;
                gap: 1em;
                line-height: 1.5;
            }
        }
    }
    &payment {
        &__eyebrow {margin-bottom: 0.125em;}
        &__body {
            font-size: 0.75em;              // 他の日本語部分より小さめにするために更に-12.5%
            line-height: 1.5;
        }
        &__note {
            display: block;
            line-height: 1;
            margin-top: 0;
            font-family: v.$marcellus, sans-serif;
            margin-right: -0.25ex;          // )の分の視差効果調整
        }
    }
    &smoking {
        &__eyebrow {margin-bottom: 0.125em;}
        &__body {font-size: 0.75em;}
        &__note {margin-right: -0.25ex;}    // )の分の視差効果調整
    }
}