@use '../../foundation/_variables' as v;
@use '../../foundation/_mixin' as m;

.header {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: v.$z-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: v.$wrapper;
    min-height: 32px;
    margin-inline: auto;
    padding: max(0.5rem, env(safe-area-inset-top)) max(1rem, env(safe-area-inset-right)) 0.5rem max(1rem, env(safe-area-inset-left));
    background-color: transparent;
    mix-blend-mode: exclusion;
    
    @media (min-width: v.$breakpoint-pc) {height: 4rem;}
}

.menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    width: 2rem;
    height: 2rem;

    @include m.clickable-expand (-25%); // 2.5rem

    &__line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: v.$text-color-light;
        &:last-child {width: 71%;} // silver-ratio
    }
    &:focus-visible {
        outline-offset: 0.5rem;
        outline-color: v.a(v.$text-color-light, v.$opacity-half);
    }
}


.reserve-button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    border: 1px solid currentColor;
    border-radius: 4px;
    font-size: 0.75rem;
    line-height: 1;
    color: v.$text-color-light;

    @include m.clickable-expand(-0.75rem 0); // 縦:2.5rem 横:そのまま

    &:focus-visible, &:hover {
        outline: none;
        background-color: v.a(v.$text-color-light, v.$opacity-muted);
    }
}
